body {
    background-color: #f2f2f2;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  .navbar {
    width: 100%;
    padding: 3rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    background: rgb(26, 25, 25);
}

.navbar h2 {
    color: white;
}

ul {
    display: flex;
}

li {
    list-style: none;
}